# Dependencies
node_modules
**/node_modules

# Environment variables
.env
*.env
.env.*
!.env.example

# Build outputs & caches
dist
dist-ssr
*.tsbuildinfo
.vscode
.idea
.DS_Store

# Logs & Data
logs
*.log
backend/data/

# Local private automation implementations
backend/src/automation/**/*.private.*